<html>

<head>
  <title>Convert My Money</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/estilos.css">
</head>

<body class="p-3 mb-2 bg-light.bg-gradient text-dark">
  <h1><a href="/"><img src="/logo.png" alt="Convert My Money"></a></h1>